{% extends 'base.html.twig' %}

{% block title %}New Character{% endblock %}

{% block body %}
    <h1>Create new character</h1>

    {{ include('character/_form.html.twig') }}

    <a href="{{ path('character_list') }}">back to list</a>
{% endblock %}
